// Univeral styles for all components 


// TEXT styles 

// TITLE 

.Title{
    font-weight: 300;
    font-size: 28pt;
    color: #2e384d
}

.Text{
    font-weight: 400;
    font-size: 15pt;
    color: #8798ad;
}

.SmallTitle {
    font-weight: 400;
    color: #8798ad;
    font-size: 13pt;
}

.DataDisplay{
    font-size: 38pt;
    color: #2e384d;
    font-weight: 300;
}

.Shadow {
    box-shadow: 3px 3px 6px 2px #eee;
}